{% extends "base.html" %}
<title>{% block title%}Veeva Systems: Healthcare Analytics{% endblock %}</title>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>

{% block content%}
    <!-- Services -->
  <div class="w3-container" id="services" style="margin-top:75px;padding-left:5em;">
    <h1 class="w3-xxxlarge w3-text-red"><b>Trends in Prescription</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
<br><br>
<form action="/trends" method="post">
<div style="display:table">
<div style="display:table-row">
<div style="display:table-cell">
<label for="Medicine"> Choose a Prescription Drug: </label>
<select  id="Medicine" name="Medicine">
    <option value="Cholecap">Cholecap</option>
    <option value="Zap-a-Pain">Zap-a-Pain</option>
    <option value="Nasalclear">Nasalclear</option>
    <option value="Nova-itch">Nova-itch</option>
</select>
</div>
<div style="width:25px"></div>
<div style="display:table-cell">
<label for="state"> Choose a State </label>
<select  id="state" name="state">
    <option value="Alabama">Alabama (AL)</option>
    <option value="Alaska">Alaska (AK)</option>
    <option value="Arizona">Arizona (AZ)</option>
    <option value="Arkansas">Arkansas (AR)</option>
    <option value="California">California (CA)</option>
    <option value="Colorado">Colorado (CO)</option>
    <option value="Connecticut">Connecticut (CT)</option>
    <option value="Delaware">Delaware (DE)</option>
    <option value="District of Columbia">District Of Columbia (DC)</option>
    <option value="Florida">Florida (FL)</option>
    <option value="Georgia">Georgia (GA)</option>
    <option value="Hawaii">Hawaii (HI)</option>
    <option value="Idaho">Idaho (ID)</option>
    <option value="Illinois">Illinois (IL)</option>
    <option value="Indiana">Indiana (IN)</option>
    <option value="Iowa">Iowa (IA)</option>
    <option value="Kansas">Kansas (KS)</option>
    <option value="Kentucky">Kentucky (KY)</option>
    <option value="Lousiana">Louisiana (LA)</option>
    <option value="Maine">Maine (ME)</option>
    <option value="Maryland">Maryland (MD)</option>
    <option value="Massachusetts">Massachusetts (MA)</option>
    <option value="Michigan">Michigan (MI)</option>
    <option value="Minnesota">Minnesota (MN)</option>
    <option value="Mississippi">Mississippi (MS)</option>
    <option value="Missouri">Missouri (MO)</option>
    <option value="Montana">Montana (MT)</option>
    <option value="Nebraska">Nebraska (NE)</option>
    <option value="Nevada">Nevada (NV)</option>
    <option value="New Hampsire">New Hampshire (NH)</option>
    <option value="New Jersey">New Jersey (NJ)</option>
    <option value="New Mexico">New Mexico (NM)</option>
    <option value="New York">New York (NY)</option>
    <option value="North Carolina">North Carolina (NC)</option>
    <option value="North Dakota">North Dakota (ND)</option>
    <option value="Ohio">Ohio (OH)</option>
    <option value="Oklahoma">Oklahoma (OK)</option>
    <option value="Oregon">Oregon (OR)</option>
    <option value="Pennsylvania">Pennsylvania (PA)</option>
    <option value="Rhode Island">Rhode Island (RI)</option>
    <option value="South Carolina">South Carolina (SC)</option>
    <option value="South Dakota">South Dakota (SD)</option>
    <option value="Tennessee">Tennessee (TN)</option>
    <option value="Texas">Texas (TX)</option>
    <option value="Utah">Utah (UT)</option>
    <option value="Vermont">Vermont</option>
    <option value="Virgina">Virginia</option>
    <option value="Washington">Washington</option>
    <option value="West Virginia">West Virginia</option>
    <option value="Wisconson">Wisconsin</option>
    <option value="Wyoming">Wyoming</option>
</select></div>
<div style="width:25px;"></div>
<div style="display:table-cell">
<input type="submit"></input></div>
</div>
</div>
</form>
<br><br>
<div style="display:table-row;width:1200px;height:400px;">
    <div style="display:table-cell" id='chart' class='chart'></div>
    <div style="display:table-cell" id='chart2' class='chart2'></div>
</div>

<div style="display:table-row;width:1200px;height:400px;">
    <div style="display:table-cell" id='chart3' class='chart3'></div>
    <div style="display:table-cell" id='chart4' class='chart4'></div>
</div>

<div style="display:table-row;width:1200px;height:400px;">
    <div style="display:table-cell" id='chart5' class='chart5'></div>
    <div style="display:table-cell" id='chart6' class='chart6'></div>
</div>
<div style="height:200px;"></div>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>
<script type='text/javascript'>
  var graphs2 = {{graphJSON2 | safe}};
  Plotly.plot('chart2',graphs2,{});
</script>
<script type='text/javascript'>
  var graphs3 = {{graphJSON3 | safe}};
  Plotly.plot('chart3',graphs3,{});
</script>
<script type='text/javascript'>
  var graphs4 = {{graphJSON4 | safe}};
  Plotly.plot('chart4',graphs4,{});
</script>
<script type='text/javascript'>
  var graphs5 = {{graphJSON5 | safe}};
  Plotly.plot('chart5',graphs5,{});
</script>
<script type='text/javascript'>
  var graphs6 = {{graphJSON6 | safe}};
  Plotly.plot('chart6',graphs6,{});
</script>


{% endblock %}